In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../PLUTO/data.csv")

In [3]:
df.head()

   zipcode  landuse  bldgarea  numfloors  yearbuilt
0  10019.0      5.0   57805.0        3.0     1920.0
1  10019.0      7.0  105562.0        0.0     2002.0
2  10023.0      3.0  225552.0       24.0     1968.0
3  10019.0      6.0   36184.0        4.0     1946.0
4  11219.0      2.0    3600.0        2.0     1930.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859465 entries, 0 to 859464
Data columns (total 5 columns):
zipcode      838521 non-null float64
landuse      856535 non-null float64
bldgarea     858968 non-null float64
numfloors    857908 non-null float64
yearbuilt    858986 non-null float64
dtypes: float64(5)
memory usage: 32.8 MB

In [5]:
df.dropna(inplace=True)

In [6]:
df.sort_values(by=["zipcode"], inplace=True)

In [10]:
df_int = df.astype({"zipcode": "int",
                    "landuse": "int",
                    "bldgarea": "int",
                    "numfloors": "int",
                    "yearbuilt": "int"
                    }, inplace=True)

In [12]:
df_int.reset_index(drop=True, inplace=True)

In [13]:
df_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835904 entries, 0 to 835903
Data columns (total 5 columns):
zipcode      835904 non-null int32
landuse      835904 non-null int32
bldgarea     835904 non-null int32
numfloors    835904 non-null int32
yearbuilt    835904 non-null int32
dtypes: int32(5)
memory usage: 15.9 MB

In [14]:
df_int

        zipcode  landuse  bldgarea  numfloors  yearbuilt
0         10001        5    611625         24       1917
1         10001        5    114368         16       1924
2         10001        6     62632         14       1927
3         10001        5     49286         18       2003
4         10001       11         0          0          0
5         10001        6    187973          4       1900
6         10001        4      3870          4       1920
7         10001        5    338962         16       1931
8         10001        1      2741          3       1840
9         10001        5      7870          5       1920
10        10001        5    806417         25       1954
11        10001        4      8040          4       1928
12        10001        5       749          1       1915
13        10001        4     46933         15       1927
14        10001       11         0          0          0
15        10001       10     82750          8       1972
16        10001        4     16920          6       1900
17        10001        2      4876          3       1920
18        10001        5      6376          4       1901
19        10001        4     11520          5       1920
20        10001        4     15781          7       1930
21        10001        3     50029          7       1961
22        10001        5     85869         12       1911
23        10001        1      2028          3       1901
24        10001        1      2607          4       1900
25        10001        4      6010          4       1910
26        10001        5     86027         12       1911
27        10001        5      4800          4       1920
28        10001        5     50150         22       2012
29        10001        5      6831          3       1920
...         ...      ...       ...        ...        ...
835874    11694        1      4350          1       1935
835875    11694        1      6311          2       1925
835876    11694        1      1474          2       1930
835877    11694        1      2124          3       1925
835878    11694        1       648          1       1925
835879    11694        1      4755          2       1960
835880    11694        1      4000          2       1950
835881    11694        2      2347          2       1920
835882    11694        1      1523          1       1930
835883    11694        1      1371          2       2002
835884    11694        1      3375          2       2005
835885    11694        1      2229          1       1965
835886    11695       11         0          0          0
835887    11695        9     50000          2          0
835888    11695       11         0          0          0
835889    11695        9     12000          1       1929
835890    11697        1    350000          1       1938
835891    11697        1      1300          1       1960
835892    11697        1   1600000          1       1938
835893    11697        1    460000          1       1938
835894    11697       11         0          0          0
835895    11697        8    257550          1       1900
835896    11697        9  12252000          1       1929
835897    11697       11         0          0          0
835898    11697        8      4000          2       1900
835899    12345        4      7064          4       1910
835900    12345        4      3712          4       1910
835901    12345        4      5320          4       1910
835902    12345        4      4720          4       1910
835903    12345        4      4640          4       1910

[835904 rows x 5 columns]

In [15]:
df_int[df_int.zipcode == 10001].head(40)

    zipcode  landuse  bldgarea  numfloors  yearbuilt
0     10001        5    611625         24       1917
1     10001        5    114368         16       1924
2     10001        6     62632         14       1927
3     10001        5     49286         18       2003
4     10001       11         0          0          0
5     10001        6    187973          4       1900
6     10001        4      3870          4       1920
7     10001        5    338962         16       1931
8     10001        1      2741          3       1840
9     10001        5      7870          5       1920
10    10001        5    806417         25       1954
11    10001        4      8040          4       1928
12    10001        5       749          1       1915
13    10001        4     46933         15       1927
14    10001       11         0          0          0
15    10001       10     82750          8       1972
16    10001        4     16920          6       1900
17    10001        2      4876          3       1920
18    10001        5      6376          4       1901
19    10001        4     11520          5       1920
20    10001        4     15781          7       1930
21    10001        3     50029          7       1961
22    10001        5     85869         12       1911
23    10001        1      2028          3       1901
24    10001        1      2607          4       1900
25    10001        4      6010          4       1910
26    10001        5     86027         12       1911
27    10001        5      4800          4       1920
28    10001        5     50150         22       2012
29    10001        5      6831          3       1920
30    10001        2      6578          4       1900
31    10001        5      4500          2       1906
32    10001        6      3166          4       1910
33    10001        5      4937          2       1940
34    10001        2      3709          3       1920
35    10001        5    154433          7       1911
36    10001        5      3216          1       1983
37    10001        2      4680          4       1910
38    10001        5     23531          4       1915
39    10001        4    269947         31       2000

In [17]:
df_int.to_csv("Final_Project/data.csv")